name: Build and Attach Release Artifacts

on:
  release:
    types:
      - created

jobs:
  build:
    if: github.event.release.draft == true && github.event.release.tag_name != ''
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'
      - name: Build binary
        run: |
          if [ "${{ matrix.os }}" == "windows-latest" ]; then
            GOOS=windows GOARCH=amd64 go build -o evrtelemetry.exe main.go
          else
            GOOS=linux GOARCH=amd64 go build -o evrtelemetry main.go
          fi
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-binary
          path: |
            evrtelemetry*

  attach:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts
      - name: List files
        run: ls -l ./artifacts
      - name: Upload release assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./artifacts/**/evrtelemetry*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
